body{
    background-image: url("https://www.commonapp.org/static/1c588201d2773604b235f6e2aa423c67/university-michigan_439.jpg");
    color: white;
    margin:0;
}

.hint {
	display: none;
}

@media (min-width:600px){
	header {
		color: #ffcb0b;
		background-color: rgba(0,50,106,0.80);
		margin:0px;
		border-bottom: 1px solid white;
	}

	.dropDown {
		display: none;
	}

	.navBar {
		display: grid;
		grid-gap: 1rem;
		grid-template-rows: max(6vw, 60px) max(4vw, 45px);
		grid-template-columns: auto;
		grid-template-areas: "header""items";
		place-items: center;
	}

	.navBarTitle {
		grid-area: header;
		font-size: max(5vw, 36px);
	    text-align: center;
	    text-shadow: 
	    1px 1px rgb(120, 105, 20),
	    2px 2px rgb(120, 105, 20),
	    3px 3px rgb(120, 105, 20),
	    4px 4px rgb(120, 105, 20);
	}

	.navBarItemList {
		margin:0;
		grid-area: items;
		display: flex;
		flex-flow: row wrap;
	}

	.navBarItem {
		color: rgb(255,203,11);
		font-size: max(2vw, 16px);
	    text-align: center;
	    padding-right: 3vw;
	    margin-bottom: 2vw;
	}

	.navBarItem.standalone {
		padding-left: 3vw;
	}

	.profileName {
		font-size: max(2vw, 16px);
	    text-align: center;
	    padding-left: 3vw;
	    padding-right: 5px;
	}

	.navBarItem:hover {
		color: white;
	}
}

@media (max-width:599px){
	header {
		color: #ffcb0b;
		background-color: rgba(0,50,106,0.80);
		margin:0px;
		border-bottom: 1px solid white;
/*		height: max(5vw, 120px);*/
		text-align: center;
		overflow: hidden;
	}
	.navBarTitle{
		font-size: max(4vw,36px);
	}
	.dropDown {
		margin-top: max(1vw, 5px);
		overflow: hidden;
	}
	.dropDownItems {
		background-color: rgba(0,50,106,.95); 
		display: none;
		overflow: hidden;
		position: absolute;
		margin-left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		border: 1px solid white;
		border-radius: 10px;
		width: 60vw;
	}
	.dropDownItem{
		display: inherit;
		color: rgb(255,203,11);
		outline: 1px solid white;
		padding: 10px;
		font-size: max(2vw, 16px);
	}
/*	.dropDown:hover .dropDownItem {
		display: block;
	}*/
	.dropDownItem:hover{
		color:white;
	}
	.navBarItemList * {
		display: none;
	}
}

.contentSection {
	color: #ffcb0b;
	text-align: center;
	margin:auto;
	margin-top: 5vw;
	width: 80vw;
	background-color: rgba(0,50,106,0.80);
	border: 1px solid white;
	border-radius: 25px;
	word-wrap: break-word;
	padding: 3vw;
	line-height: max(2.5vw, 20px);
}

.contentSection * {
	font-size: max(1.5vw,14px);
}

.contentSection h1 {
	font-size: max(3.5vw,32px);
}

.contentSection h2 {
	font-size: max(2.5vw,24px);
}

.contentSection h3 {
	font-size: max(2vw,18px);
}

.contentSection a {
	color: white;
	font-size: max(1vw,12px);
}

.contentSection a:hover {
	color: #ffcb0b;
}

.contentSection .next, .contentSection .prev {
	color: rgb(225,225,225);
}

.startingDescription {
	margin-bottom: 3vw;
}

.slideshow-container.starting {
	margin-bottom: 5vw;
}

input {
	padding: 5px;
	border-radius: 15px;
	margin-bottom: 3px;
}

input[type=submit] {
	color: rgb(0,30,76);
	font-size: max(1vw,16px);
	background-color: rgb(255,203,11);
	padding: max(.5vw, 5px);
	padding-left: max(1vw, 10px);
	padding-right: max(1vw, 10px);
}

input[type=submit]:hover {
	background-color: rgb(255,243,51);
	cursor: pointer;
}

.hintReveal:hover {
	cursor: pointer;
}

.answerForm {
	margin-bottom: 3vw;
}

.pagination {
	margin-top: 3vw;
}

.pagination * {
	padding: 1vw;
}

.helptext{
	display: block;
}

.uppage {
	text-align: center;
}

.uppage li {
	text-align: center;
	word-wrap: break-word;
}

.uppage ul {
	list-style-type: none;
	display: inline-block;
	width: 70%;
	padding-left: 0;
}

.uppage input:not([type=submit]){
	display: block;
	width:min(90%, 400px);
	margin-left: 50%;
	transform: translateX(-50%);
}