body{
    background-image: url("https://www.commonapp.org/static/1c588201d2773604b235f6e2aa423c67/university-michigan_439.jpg");
    color: white;
    margin:0;
    padding: 0;
    word-break: break-word;
}

p, h1, h2, h3 {
	font-family: 'Nunito', sans-serif;
}

img {
	border-radius: 10px;
	border: 1px solid white;
}

footer {
	text-align: center;
	font-size: max(10px, 1vw);
	padding-bottom: 5px;
	margin-top: max(6vw, 60px);
	text-shadow: 1px 1px rgb(0,0,0),
				-1px -1px rgb(0,0,0);
}

footer * {
	color: white;
}

footer a:hover {
	color: #ffcb0b;
}

#bad_pass {
	color: rgb(220,20,60);
	text-align: center;
	margin:auto;
	margin-bottom: 3px;
	background-color: rgb(240,128,128);
	border: 3px solid rgb(220,20,60);
	word-wrap: break-word;
	font-size: max(.6vw,6px);
    border-radius: 15px;
    width: max(80px,10%);
    text-decoration: underline;
    font-weight: 700;
}

.hintReveal{
	display: block;
}

.hint {
	display: none;
}

.extraimg {
    width: max(40%, 180px);
    display: block;
    margin: auto;
    margin-top: 15px;
}

@media (min-width:568px){
	header {
		color: #ffcb0b;
		background-color: rgba(0,50,106,0.80);
		margin:0px;
		border-bottom: 1px solid white;
	}

	.dropDown {
		display: none;
	}

	.navBar {
		display: grid;
		grid-template-rows: max(5vw, 50px) max(3vw, 30px);
		grid-template-columns: auto;
		grid-template-areas: "header""items";
		place-items: center;
	}

	.navBarTitle {
		grid-area: header;
		font-size: max(3.4vw, 34px);
	    text-align: center;
	    text-shadow: 
	    1px 1px rgb(120, 105, 20),
	    2px 2px rgb(120, 105, 20),
	    3px 3px rgb(120, 105, 20),
	    4px 4px rgb(120, 105, 20);
	}

	.navBarItem {
		color: rgb(255,203,11);
		font-size: max(1.4vw, 14px);
	    text-align: center;
	}

	.navBarItem.standalone {
		padding-left: 3vw;
	}

	.profileName {
		font-size: max(1.4vw, 14px);
	    text-align: center;
	    padding-right: 5px;
	}

	.navBarItem:hover {
		color: white;
	}
}

@media (max-width:567px){
	header {
		color: #ffcb0b;
		background-color: rgba(0,50,106,0.80);
		margin:0px;
		border-bottom: 1px solid white;
/*		height: max(5vw, 120px);*/
		text-align: center;
		overflow: hidden;
	}
	.navBarTitle{
		font-size: max(4vw,36px);
	}
	.dropDownLink:hover {
		color:white;
		cursor:pointer;
	}
	.dropDown {
		margin-top: max(1vw, 5px);
		overflow: hidden;
	}
	.dropDownItems {
		background-color: rgba(0,50,106,.95); 
		display: none;
		overflow: hidden;
		position: absolute;
		margin-left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		border: 1px solid white;
		border-radius: 10px;
		width: 60vw;
	}
	.dropDownItem{
		display: inherit;
		color: rgb(255,203,11);
		outline: 1px solid white;
		padding: 10px;
		font-size: max(2vw, 16px);
	}
/*	.dropDown:hover .dropDownItem {
		display: block;
	}*/
	.dropDownItem:hover{
		color:white;
	}
	.navBarItemList * {
		display: none;
	}
}

.contentSection {
	color: #ffcb0b;
	text-align: center;
	margin:auto;
	margin-top: max(2%, 10px);
	margin-bottom: 3vw;
	background-color: rgba(0,50,106,0.80);
	border: 1px solid white;
	border-radius: 25px;
	word-wrap: break-word;
	padding: 1% 5%;
	line-height: max(2.2vw, 22px);
	width: max(75%, 325px);
}

.contentSection *:not(h1, h2, h3, h4) {
	font-size: max(1.2vw,12px);
}

.contentSection h1 {
	font-size: max(2.2vw,22px);
	margin: 1% 0;
}

.contentSection h1 p{
	font-size: max(2.2vw,22px);
}

.contentSection h2 {
	font-size: max(1.8vw,15px);
}

.contentSection h2 p {
	font-size: max(1.8vw,18px);
}

.contentSection h3 {
	font-size: max(1.6vw,10px);
	font-weight: 500;
}

.contentSection h3 p {
	font-size: max(1.6vw,16px);
	font-weight: 500;
}

.contentSection a {
	color: white;
}

.contentSection a:hover {
	color: #ffcb0b;
}

.contentSection .next, .contentSection .prev {
	color: rgb(225,225,225);
}

.startingDescription {
	margin-bottom: 3vw;
}

.slideshow-container.starting {
	margin-bottom: 5vw;
}

input {
	padding: 5px;
	border-radius: 15px;
	margin-bottom: 3px;
}

input[type=submit] {
	color: rgb(0,30,76);
	font-size: max(1vw,16px);
	background-color: rgb(255,203,11);
	padding: max(.5vw, 5px);
	padding-left: max(2.5vw, 25px);
	padding-right: max(2.5vw, 25px);
}

input[type=submit]:hover {
	background-color: rgb(255,243,51);
	cursor: pointer;
}

.hintReveal:hover {
	cursor: pointer;
}

.answerForm {
	margin-bottom: 3vw;
}

.pagination {
	margin: max(1vw, 10px) 0 0 0;
	display: grid;
	grid-template-columns: 20% 12% 36% 12% 20%;
	place-items: center;
}

.pagination > a {
	font-size: max(1.6vw, 16px);
}

.pagFirst {
	grid-column-start: 1;
	grid-column-end: 2;
}

.pagPrev {
	grid-column-start: 2;
	grid-column-end: 3;
}

.pagCurrent {
	grid-column-start: 3;
	grid-column-end: 4;
}

.pagNext {
	grid-column-start: 4;
	grid-column-end: 5;
}

.pagLast {
	grid-column-start: 5;
	grid-column-end: 6;
}

.helptext{
	display: block;
}

.uppage {
	text-align: center;
}

.uppage li {
	text-align: center;
	word-wrap: break-word;
}

.uppage ul {
	list-style-type: none;
	display: inline-block;
	width: 70%;
	padding-left: 0;
}

.uppage input:not([type=submit]){
	display: block;
	width:min(90%, 400px);
	margin-left: 50%;
	transform: translateX(-50%);
}

.aboutMember {
	display: grid;
	width: 100%;
	grid-template-columns: 40% 60%;
}

.aboutLeftBox {
	display: flex;
	flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 5%;
}

.aboutRightBox {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0 5px 0 10px;
}

.memberPhoto{
	width: max(50%, 100px);
    border-radius: 10% 30%;
    border: solid max(.3vw, 3px) #ffcb0b;
}

.divider {
    width:95%;
    margin:auto;
    border-radius: 25px;
    margin-top: max(1vw, 10px);
    margin-bottom: max(1vw, 10px);
}
.smaller.divider {
    width:35%;
    margin-top: max(1vw, 10px);
    margin-bottom: max(1vw, 10px);
}

.radioAnswers {
    border: solid max(.2vw, 2px) #ffcb0b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    width: max(60%, 280px);
    padding: 5px;
    margin: auto;
    margin-top: max(1vw, 10px);
    margin-bottom: max(1vw, 10px);
    background-color: rgba(0,50,106,0.80);
}

.radioOption {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.radioOption > label {
	text-align: left;
	margin: max(.5vw, 5px);
}

.radioOption > *:hover {
	cursor: pointer;
	color: white;
}

p.incorrectAnswer {
	color: red;
	font-weight: 900;
	font-size: max(1.8vw, 18px);
	text-decoration-line: underline;
}

input.incorrectAnswer {
	border: solid red max(.2vw, 2px);
}