{% extends "base.html" %}

{% block content %}
  <section class="contentSection">
    <h1>About</h1>
    <hr class="smaller divider">
    <p>"Peer Advisors for Veteran Education (PAVE) is a peer support program that connects incoming student veterans on college campuses with student veterans who are trained as Peer Advisors who can help them navigate college life, address challenges they may face, refer them to appropriate resources on and off campus, and provide ongoing support. The PAVE Program is part of M-SPAN (Military Support Programs and Networks), a group of programs at the University of Michigan developed to address the needs and challenges faced by service members, veterans and military families. PAVE is a partnership between the University of Michigan Depression Center and Student Veterans of America."</p>
    <p>PAVE originated here in Ann Arbor, with the main desire to help veterans transition into student life. Here at the University of Michigan, we offer events to help network, build your resume, and encourage teamwork between military on campus throughout the school year. Our team strives to provide assistance wherever needed, including information on VA benefits and education.</p>
    <hr class="divider">
    <h1>Members</h1>
    {% for member in members %}
      <hr class="smaller divider">
    	<h2>{{member.name}}</h2>
    	{% if member.link %}
      	<img class="memberPhoto" src="{{member.link}}">
      {% endif %}
      {% if member.bio %}
      	<p>{{member.bio|linebreaks}}</p>
      {% endif %}
      {% if member.email %}	
      	<h3>{{member.email}}</h3>
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}