<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
      <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>PAVE Scavenger Hunt</title>
  </head>
<body>
  <header>
    {% include 'navigation-bar.html' %}
  </header>
  {% block content %}

  {% endblock content %}
</body>
<script>
  //source https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
  function dropDown() {
    var navElements = document.getElementById("navBarItemList");
    if (navElements.style.display === "block") {
      navElements.style.display = "none";
    } else {
      navElements.style.display = "block";
    }
  }
</script>
</html>
