{% extends "base.html" %}
{% block content %}
  {% load static %}
    <link rel="stylesheet" href="{% static 'override.css' %}">
  <section class="contentSection">
  	<h1 class='top'>Extras</h1>
    <hr class="smaller divider">
    <p>{{aboutExtras.description|linebreaks}}</p>
    <hr class="divider">
    <h2>Campus Extras</h2>
    {% for extra in campus_extras %}
      <hr class="smaller divider">
      <div class='aboutMember'>
        <div class='aboutLeftBox'>
          <a href='{{extra.link}}' target="_blank" rel="noopener noreferrer">{{extra.name}}</a>
          {% if extra.photo %}
            <img class="extraimg fade" src="{{extra.photo}}">
          {% endif %}
        </div>
        <div class="aboutRightBox">
          {% if extra.description %}
            <p>{{extra.description|linebreaks}}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <hr class="divider">
    <h2>Ann Arbor Extras</h2>
    {% for extra in aa_extras %}
      <hr class="smaller divider">
      <div class='aboutMember'>
        <div class='aboutLeftBox'>
          <a href='{{extra.link}}' target="_blank" rel="noopener noreferrer">{{extra.name}}</a>
          {% if extra.photo %}
            <img class="extraimg fade" src="{{extra.photo}}">
          {% endif %}
        </div>
        <div class="aboutRightBox">
          {% if extra.description %}
            <p>{{extra.description|linebreaks}}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}