{% extends "base.html" %}

{% block content %}
	<section class="contentSection">
  		<h1>Home</h1>
  		<hr class="smaller divider">
      <div class='slideshow-container'>
          <div class="mySlides fade">
              <img class='carouselImage' src="https://i.imgur.com/QldoWJt.jpg" alt="UML diagram">
          </div>
      </div>
  		<p>Welcome to the PAVE Scavenger Hunt! We sincerely hope you enjoy this game, and maybe learn a few awesome things around the area. This scavenger hunt was created as a part of University of Michigan’s Peer Advisors for Veteran Education (PAVE) program. We hope it will encourage new and current student veterans to get involved with the school and the A2 community. With Covid still impacting our ability to remain on campus and commune as we normally would have, we hope that this online version is equally enjoyable as if you were out exploring the area.</p>
  		<hr class="divider">
  		<h1>Instructions</h1>
  		<hr class="smaller divider">
  		<p>To play, log in or create an account to save your progress and give us your contact information. Your information will only be used to contact you at the end of the semester to ensure you receive your prize. The hunt consists of riddles, puzzles, and a few other thinkers as you progress through campus and city. You can either play entirely online by having google maps open on the side, or you may connect via data in-person on your phone. Enter your answer and press the "submit" button at the bottom of the screen. If you're stuck, you can find a hint option to help you move along.</p>
		<p>This scavenger hunt takes approximately 1-2 hours online and about 6-8 hours in-person. To fully enjoy an in-person experience, we recommend you break the hunt into several parts, and bring a friend or two. To exit, simply exit the site and your progress will automatically be saved. Your name and email will be entered into a raffle at the end of the semester, and we'll contact you if you win. 
		We wish you a fantastic time! A "Scavenger Hunt" page link will be in the header once you sign in, and you can start your hunt from there!</p>
	</section>
{% endblock %}