{% extends "base.html" %}

{% block content %}
	<section class="contentSection">
  		<h1>Home</h1>
  		<hr class="smaller divider">
      <div class='slideshow-container'>
          <div class="mySlides fade home">
              <img class='carouselImage' src="{{image}}" alt="UML diagram">
          </div>
      </div>
  		<p>{{about|linebreaks}}</p>
  		<hr class="divider">
  		<h1>Instructions</h1>
  		<hr class="smaller divider">
  		<p>{{instructions|linebreaks}}</p>
	</section>
{% endblock %}