<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navBar">
    <div class="navBarTitle"><strong>SCAVENGER HUNT</strong></div>
    <div class="dropDown">   
        <a class="dropDownLink" onclick="displayItems()">
            <i class="fa fa-caret-down"></i>
            View other pages
            <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropDownItems">
            <a class="dropDownItem" href="{% url 'home' %}">Home</a>
            <a class="dropDownItem standalone" href="{% url 'about' %}">About</a>
            {% if request.user.is_authenticated %}
                <a class="dropDownItem standalone" href="{% url 'start' 'AnnArbor' %}">Ann Arbor Puzzle</a>
                <a class="dropDownItem standalone" href="{% url 'start' 'Campus' %}">Campus Puzzle</a>
                <a class="dropDownItem standalone" href="{% url 'extras' %}">Extras</a>
                {% if request.user.is_staff %}
                    <a class="dropDownItem standalone" href="/admin">Admin Panel</a>
                {% endif %}
                <a class="dropDownItem" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="dropDownItem standalone" href="{% url 'extras' %}">Extras</a>
                <a class="dropDownItem standalone" href="{% url 'login' %}">Sign In</a>
                <a class="dropDownItem standalone" href="{% url 'signup' %}">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="navBarItemList">
        <a class="navBarItem" href="{% url 'home' %}">Home</a>
        <a class="navBarItem standalone" href="{% url 'about' %}">About</a>
        {% if request.user.is_authenticated %}
            <a class="navBarItem standalone" href="{% url 'start' 'AnnArbor' %}">Ann Arbor Puzzle</a>
            <a class="navBarItem standalone" href="{% url 'start' 'Campus' %}">Campus Puzzle</a>
            <a class="navBarItem standalone" href="{% url 'extras' %}">Extras</a>
            <span class="profileName"><strong>
                {% if request.user.is_staff %}
                    <a class="navBarItem standalone" href="/admin">{{ request.user.username }}(admin)</a>
                {% else %}
                    <span class="navBarItem standalone">{{ request.user.username }}</span>
                {% endif %}
                 |</strong></span> <a class="navBarItem" href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a class="navBarItem standalone" href="{% url 'extras' %}">Extras</a>
            <a class="navBarItem standalone" href="{% url 'login' %}">Sign In</a>
            <a class="navBarItem standalone" href="{% url 'signup' %}">Register</a>
        {% endif %}
    </div>
</nav>
<script type="text/javascript">
    function displayItems(){
        itemDiv = document.getElementsByClassName('dropDownItems')[0];
        if(itemDiv.style.display=='block'){
            itemDiv.style.display='none';
        } else {
            itemDiv.style.display='block'
        }
    }
</script>