<nav class="navBar">
    <div class="navBarTitle"><strong>PAVE</strong></div>
    <div class="navBarItemContainer">
        <div class="navBarItemList">
            <a class="navBarItem" href="{% url 'home' %}">Home</a>
            {% if request.user.is_authenticated %}
                <span class="profileName"><strong>{{ request.user.username }} |</strong></span> <a class="navBarItem" href="{% url 'logout' %}">Log Out</a>
                <a class="navBarItem standalone" href="{% url 'start' %}">Scavenger Hunt</a>
            {% else %}
                <a class="navBarItem standalone" href="{% url 'login' %}">Sign In</a><span> | </span><a class="navBarItem standalone" href="{% url 'signup' %}">Register</a>
            {% endif %}
            <a class="navBarItem standalone" href="{% url 'about' %}">About</a>
            <a class="navBarItem standalone" href="{% url 'extras' %}">Extras</a>
        </div>
    </div>
</nav>