{% include "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'carousel.css' %}">
{% block content %}
    <h1>Scavenger hunt</h1>
    <h2>{{starting_location.address}}</h2>
    {% if starting_location.description %}
        <p>{{starting_location.description}}</p>
    {% endif %}
    {% if starting_location.album.all.count > 1 %}
        <div class='slideshow-container'>
            {% for image in starting_location.album.all %}
                <div class="mySlides fade">
                    <img class='carouselImage' src="{{image.link}}" alt="UML diagram">
                </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    {% elif starting_location.album.all.count %}
        <div class="mySlides fade">
            <img class='carouselImage' src="{{starting_location.album.get.link}}" alt="UML diagram">
        </div>
    {% endif %}
    <form action="{% url 'scavengerhunt' %}" method="post">
        {% csrf_token %}
        <button type="submit">Start</button>
    </form>


    <script>
        // https://www.w3schools.com/howto/howto_js_slideshow.asp
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex-1].style.display = "block";
        }
    </script>
{% endblock %}